<% @pictures.each do |picture| %>
  <div class="ind_img">
    <img src="<%= picture.url %>" , link_to "show" , class="img_img">
    <p class="img_text"><%= picture.title %>, <%= picture.artist %></p>
  </div>
<% end %>
